body {
  background-color: #FFFAFF;
}
h1 {
  font-family: 'Ewert', cursive;
  text-align: center;
}
p {
 font-family: 'Quicksand', sans-serif;
}
a {
  color:#FFFAFF;
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
form {
  font-family: 'Quicksand', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}
label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
}

input placeholder{
  color:grey;
}
.nav {
  background-color: #1E1B18;
  width: 100%;
  overflow: auto;
  height: 50px;
}
.nav li{
  display:inline;
}
.nav li {
  width: 33.3%;
  //height:25px;
  //margin-left: 16%;
  float: left;

  //transition: all 1s;
}
#navbar {
  z-index: 100;
  overflow: hidden;
  background-color: #333;
  height:50px;
  //position: relative;
}

#navbar a {
  z-index:300;
  position: relative;
  width: 33.3%;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*#0A2463*/
.highlight {
  width:33.3%;
  height:50px;
  background-color: #D8315B;
  position: relative;
  z-index: 200;
  transition:all 1s;
}

.content {
  align-content: center;
  margin: 25px;
}
//fonts to check out: https://www.1001fonts.com/pixel-fonts.html?page=0
